<div *ngIf="cadastro"> 
  <label for="nome">Nome: </label>
   <input id="nome" [(ngModel)]="cadastro.name" placeholder="nome" >
   <label for="email">Email: </label>
   <input id="email" [(ngModel)]="cadastro.email" placeholder="email" >
   <label for="telefone">Telefone: </label>
   <input id="telefone" [(ngModel)]="cadastro.telefone" placeholder="telefone" >
   <label for="end">Endereço: </label>
   <input id="end" [(ngModel)]="cadastro.end" placeholder="end" >
   <label for="id">Id: </label>
   <input id="id" [(ngModel)]="cadastro.id" placeholder="id">
  </div>


  <button (click)="save()">Salvar</button>
  <button (click)="goBack()">Voltar</button>