<div class="info">
<div class="alinhar">
    <label for="nome">Nome do aluno: </label>
    <input id="nome" [(ngModel)]="cadastro.name" placeholder="" type="text">
  </div>
  <div class="alinhar">
    <label for="email">Email: </label>
    <input id="email" [(ngModel)]="cadastro.email" placeholder="" type="email">
  </div>
  <div class="alinhar">
    <label for="telefone">Telefone: </label>
    <input id="telefone" [(ngModel)]="cadastro.telefone" placeholder="" type="tel">
  </div>
  <div class="alinhar">
    <label for="end">Endereço: </label>
    <input id="end" [(ngModel)]="cadastro.end" placeholder="" type="text">
  </div>
  <div class="alinhar">
    <label for="curso">Curso: </label>
    <input id="curso" [(ngModel)]="cadastro.curso" placeholder="" type="text">
  </div>
</div>


  <button>Enviar</button>